fastapi
uvicorn[standard]
sqlmodel
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pydantic
aiofiles
langchain
openai
python-dotenv
argon2_cffi
easyocr
tzdata
pdf2image
pillow
torch
torchvision
opencv-python
langchain-openai
langchain-classic